WSDLProject/UserProfile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://jamal.com/userProfile" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		name="UserProfileService" 
		targetNamespace="http://jamal.com/userProfile"
		xmlns:upSchema="http://jamal.com/userProfile/schema/UserProfile.xsd">
		
  <wsdl:types>
    <xsd:schema targetNamespace="http://jamal.com/userProfile" elementFormDefault="qualified">
	  <xsd:import  namespace="http://jamal.com/userProfile/schema/UserProfile.xsd" schemaLocation="UserProfile.xsd"/>
		<xsd:element name="GetUserProfile">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="userName" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		</xsd:element>
	    <xsd:element name="GetUserProfileResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UserProfile" type="upSchema:UserProfile"/>
			</xsd:sequence>
		</xsd:complexType>
		</xsd:element>
    </xsd:schema>
  </wsdl:types> 
  
  <wsdl:message name="GetUserProfileRequest">
    <wsdl:part name="params" element="tns:GetUserProfile"/>
  </wsdl:message>
  <wsdl:message name="GetUserProfileResponse">
    <wsdl:part name="result" element="tns:GetUserProfileResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="UserProfilePortType">
    <wsdl:operation name="GetUserProfile">
      <wsdl:input message="tns:GetUserProfileRequest"/>
      <wsdl:output message="tns:GetUserProfileResponse"/>
    </wsdl:operation>	
  </wsdl:portType>
  
  <wsdl:binding name="UserProfileBinding" type="tns:UserProfilePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="urn:GetUserProfile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="UserProfileService">
    <wsdl:port binding="tns:UserProfileBinding" name="UserProfilePort">
		<soap:address location="http://localhost/services/UserProfileService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
